* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-pink: rgb(235, 78, 104);
  --color-blue: rgb(9, 9, 82);
  --section-gap: 2em;
  --color-white-grey: rgb(221, 217, 217);
}

.cart-container {
  width: 100%;
  min-height: 90vh;
  background-color: whitesmoke;
  font-size: 62.5%;
}

.cart-content {
  width: 88%;
  /* background-color: white; */
  margin-inline: auto;
  padding-top: var(--section-gap);
}

.cart-content > .row {
  display: flex;
  justify-content: space-evenly;
}

.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.5em;
  background-color: white;
  padding: 0 2em;
  border-radius: 5px;
}

.address .pin-code {
  width: max-content;
  font-size: 1.2em;
}

.address .change-button {
  width: max-content;
  /* border: 1px solid black; */
  padding: 0.5em 1em;
  background-color: var(--color-pink);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.cart-items {
    margin-top: var(--section-gap);
    --cart-item-img-width: 10em;
    --cart-item-height: max-content;
}
.cart-items .item {
    height: var(--cart-item-height);
    
    background-color: white;
    padding: 2em 1em;
    border-bottom: 1px solid rgb(221, 217, 217);
}

.item .item-upper {
    display: flex;
    justify-content: space-between;
}
.item .item-image img{
    width: var(--cart-item-img-width);
    aspect-ratio: 1;
    object-fit: contain;
}

.item .item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content .in-stock {
  color: green;
}

.item-price span {
  margin-right: 1.5em;
  font-size: 1.1em;
}

.item-price .discounted-price{
  font-size: 1.3em;
}

.item-price .actual-price {
  text-decoration: line-through;
  opacity: 0.6;
}

.item-price .discount-percentage {
  color: green;
  font-weight: 700;
}

.item .item-lower {
    display: flex;
    gap: 4em;
    font-size: 1.2em;
    font-weight: 700;
    /* padding: 0 2em; */
    /* justify-content: center; */
    align-items: center;
}

.item-inc-dec {
    width: max-content;
    display: flex;
    gap: 0.5em;
}
.item-inc-dec > * {
    display: grid;
    place-items: center;
}

.item-inc-dec .minus-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.item-inc-dec .minus, .plus {
    width: 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    color: white;
    padding: 2px;
    background-color: var(--color-blue);
    text-align: center;
    cursor: pointer;
}
.item-inc-dec .minus:hover, .plus:hover {
  background-color: var(--color-pink);
}
.item-inc-dec .item-count {
    width: 3em;
    border: 1px solid var(--color-blue);
}

.item-lower .remove-item, .save-for-later {
  cursor: pointer;
}

.item-lower .remove-item:hover, .save-for-later:hover {
  color: var(--color-pink);
}


/* -------------cart is empty-------------- */

.cart-is-empty {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 1rem;
}

.cart-is-empty > img {
  scale: 0.7;
}


/* -------------price details------------- */

.price-detail-upper {
  /* border: 1px solid black; */
  background-color: white;
  --_padding-in-price-details: 1em;
  height: max-content;
  border-radius: 5px;

}

.price-detail h3 {
  font-size: 1.5em;
  padding: var(--_padding-in-price-details);
  border-bottom: 1px solid var(--color-white-grey);
}

.price-detail .prices {
  padding: calc(var(--_padding-in-price-details) + 0.5em);
}

.price-detail .prices .discount-price span:nth-child(2), .delivery-charge span:nth-child(2){
  color: green;
}

.price-detail .amount-to-pay, .prices > * {
  display: flex;
  justify-content: space-between;
  padding: var(--_padding-in-price-details) 0;
  font-size: 1.2em;
}

.price-detail .amount-to-pay {
  padding: calc(var(--_padding-in-price-details) + 0.5em);
  /* border-bottom: 1px solid var(--color-white-grey); */
  border-top: 1px solid var(--color-white-grey);
  font-size: 1.3em;

}

.price-detail .place-order {
  border: none;
  outline: none;
  width: 100%;
  /* border: 1px solid black; */
  padding: 0.8em 0em;
  background-color: var(--color-pink);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: 1em;
  /* border-radius: 0; */
}

.price-detail .order-placed-message {
  color: green;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.place-order-disabled {
  opacity: 0.7;
  pointer-events: none;
}