<div class="home-top-container">
  <!-- discount and category section -->
  <section class="category-discount-sec">
    <div class="row">
      <!-- Left Category section-->
      <div class="col-md-3 category-sec">
        <ul class="categories">
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-shirt"></i>Fashion</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-computer"></i>Laptops</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-couch"></i>Furniture</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-book"></i>Books</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-mobile"></i>Mobiles</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-bag-shopping"></i>Grocery</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-headphones"></i>Headphone</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-gift"></i>Gifts</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-headset"></i>Gaming</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-car"></i>Cars</a
            >
          </li>
        </ul>
      </div>

      <!-- Right discount section -->
      <div class="col-md-8 carousel-container">
        <!-- carousel image div -->
        <div
          class="carousel-img"
          *ngFor="let product of firstShoppingDiscountsData; let i = index"
          [ngClass]="{ 'image-active': selectedImageIndex === i }"
        >
          <div class="discount-content">
            <div class="discount-content-desc">
              <h2>{{ product.discountHeader }}</h2>
              <p>{{ product.discountDesc }}</p>
              <a href=""
                ><button class="view-collection">View Collections</button></a
              >
            </div>
            <img [src]="product.imageSrc" [alt]="product.imageAlt" />
          </div>
        </div>

        <!-- carousel dot div -->
        <div class="dot-container">
          <span
            *ngFor="let dot of firstShoppingDiscountsData; let i = index"
            class="dot"
            [ngClass]="{ 'active-dot': selectedImageIndex === i }"
            (click)="selectImage(i)"
          ></span>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="home-back-color">
  <div class="home-rest-container">
    <!-- flash deal section -->
    <section class="flash-deal">
      <h3 class="flash-deal-header">
        <span><i class="fa-solid fa-bolt"></i></span> Flash Deals
      </h3>

      <div class="flash-deal-products-container">
        <drag-scroll
          [scroll-x-wheel-enabled]="true"
          [scrollbar-hidden]="true"
          #flashDealsCardContainer
        >
          <div
            drag-scroll-item
            *ngFor="let product of flashDealProducts; let i = index"
          >
            <div class="card">
              <img
                [src]="product.productImageURL"
                [alt]=""
                class="card-image"
              />

              <div class="card-content">
                <div class="product-description">
                  {{ product.productDescription }}
                </div>
                <div class="product-rating">
                  <span class="rating"
                    >{{ product.productRating }} <i class="fa-solid fa-star"></i
                  ></span>
                  <span class="people-ordered"
                    >({{ product.peopleOrdered }})</span
                  >
                </div>
                <div class="product-price">
                  <span class="discounted-price"
                    ><i class="fa-solid fa-indian-rupee-sign"></i>
                    {{
                      getDiscountedPrice(product.actualPrice, product.discount)
                    }}</span
                  >
                  <span class="actual-price"
                    ><i class="fa-solid fa-indian-rupee-sign"></i>
                    {{ product.actualPrice }}
                  </span>
                  <span class="discount-percentage"
                    >{{ product.discount }} % off</span
                  >
                  <span
                    class="add-to-cart"
                    (click)="addToCart(product.productId, i)"
                    ><i class="fa-solid fa-cart-plus"></i
                  ></span>
                </div>
                <div
                  class="alert-message"
                  *ngIf="isAddToCartAlertMessageSuccess && i === addedItemIndex"
                >
                  {{ addToCartAlertMessage }}
                </div>
              </div>
            </div>
          </div>
        </drag-scroll>

        <div class="left-arrow" (click)="onPrevFlashClick()">
          <i class="fa-solid fa-arrow-left arrow"></i>
        </div>
        <div class="right-arrow" (click)="onNextFlashClick()">
          <i class="fa-solid fa-arrow-right arrow"></i>
        </div>
      </div>
    </section>

    <!-- top categories section -->
    <section class="top-category">
      <!-- top category header -->
      <!-- <i class="fa-solid fa-table-cells-large"></i> -->
      <div class="top-category-header">
        <div class="header-left">
          <h3>
            <span><i class="fa-brands fa-squarespace"></i></span> Top Categories
          </h3>
        </div>
        <div class="header-right">
          <a href="">
            <h5>
              View all &nbsp;&nbsp;
              <span><i class="fa-solid fa-play"></i></span>
            </h5>
          </a>
        </div>
      </div>

      <!-- top categories content -->
      <div class="top-category-content">
        <drag-scroll [scroll-x-wheel-enabled]="true" [scrollbar-hidden]="true">
          <div
            class="category-card"
            drag-scroll-item
            *ngFor="let categoryCard of topCategoryData; let i = index"
          >
            <div
              (click)="goToCategory(categoryCard.categoryName)"
              class="category-card-images"
            >
              <div class="category-name">{{ categoryCard.categoryName }}</div>
              <div class="orders-this-week">
                {{ categoryCard.ordersInWeek }} orders this week
              </div>
              <div class="category-card-image">
                <img [src]="categoryCard.images.image1URL" alt="" />
              </div>
              <div class="category-card-image">
                <img [src]="categoryCard.images.image2URL" alt="" />
              </div>
              <div class="category-card-image">
                <img [src]="categoryCard.images.image3URL" alt="" />
              </div>
            </div>
          </div>
        </drag-scroll>
      </div>
    </section>

    <!-- services -->
    <section class="services">
      <div class="service" *ngFor="let service of services">
        <div class="service-icon" [innerHTML]="service.serviceIcon"></div>
        <div class="service-name">{{ service.serviceName }}</div>
        <div class="service-desc">
          {{ service.serviceDescription }}
        </div>
      </div>
    </section>

    <section class="footer1">
      dfgdgfgd
    </section>
  </div>
</div>
