<div class="login-container">
  <div class="login-content">
    <div class="left-panel">
      <h1>Login</h1>
      <p>Get access to your Orders, Wishlist and Recommendations</p>
      <img src="../../../assets/img/login-img.png" alt="" />
    </div>
    <div class="right-panel">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            autocomplete="off"
            placeholder="&nbsp;"
            required
            email
            ngModel
            #email="ngModel"
          />
          <label for="email">Email</label>
          <div class="help-block" *ngIf="!email.valid && email.touched"
            ><div><i class="fa-solid fa-circle-info"></i></div> <div>Please enter a valid email</div></div
          >
        </div>
        <div class="form-group password-group">
          <div class="eye-icon" (click)="onShowPassword()">
            <i class="fa-regular fa-eye" *ngIf="!showPassword"></i>
            <i class="fa-solid fa-eye-slash" *ngIf="showPassword"></i>
          </div>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            name="password"
            autocomplete="off"
            placeholder="&nbsp;"
            required
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+\-]).{8,100}$"
            ngModel
            #password="ngModel"
          />
          <label for="password">Password</label>
          <div class="help-block" *ngIf="!password.valid && password.touched"
            ><div><i class="fa-solid fa-circle-info"></i></div> <div>Please enter atleast 8 characters with number, symbol, small & capital letter</div></div
          >
        </div>
        <div class="privacy-policy">
          By continuing, you agree to Luffy's Term of Use and Privacy Poilcy.
        </div>
        <button class="btn btn-info submit-btn" type="submit" [disabled]="!loginForm.valid">Login </button>
      </form>

      <div class="signup-btn">
        <a routerLink="/signup">New to Luffy? Create an account</a>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->