<div class="home-container">
  <!-- discount and category section -->
  <section class="category-discount-sec">
    <div class="row">
      <!-- Left Category -->
      <div class="col-md-3 category-sec">
        <ul class="categories">
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-shirt"></i>Fashion</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-computer"></i>Laptops</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-couch"></i>Home & Furniture</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-book"></i>Books</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-mobile"></i>Mobiles</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-bag-shopping"></i>Grocery</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-headphones"></i>Headphones</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-gift"></i>Gifts</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-headset"></i>Gaming</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-car"></i>Cars</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-8 discount-sec"></div>
    </div>
  </section>
</div>
