<div class="home-container">
  <!-- discount and category section -->
  <section class="category-discount-sec">
    <div class="row">
      <!-- Left Category section-->
      <div class="col-md-3 category-sec">
        <ul class="categories">
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-shirt"></i>Fashion</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-computer"></i>Laptops</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-couch"></i>Furniture</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-book"></i>Books</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-mobile"></i>Mobiles</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-bag-shopping"></i>Grocery</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-headphones"></i>Headphone</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-gift"></i>Gifts</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-headset"></i>Gaming</a
            >
          </li>
          <li class="category">
            <a href="" class="category-link"
              ><i class="fa-solid fa-car"></i>Cars</a
            >
          </li>
        </ul>
      </div>

      <!-- Right discount section -->
      <div class="col-md-8 carousel-container">
        <!-- carousel image div -->
        <div
          class="carousel-img"
          *ngFor="let product of firstShoppingDiscountsData; let i = index"
          [ngClass]="{ 'image-active': selectedImageIndex === i }"
        >
          <div class="discount-content">
            <div class="discount-content-desc">
              <h2>{{ product.discountHeader }}</h2>
              <p>{{ product.discountDesc }}</p>
              <a href=""
                ><button class="view-collection">View Collections</button></a
              >
            </div>
            <img [src]="product.imageSrc" [alt]="product.imageAlt" />
          </div>
        </div>

        <!-- carousel dot div -->
        <div class="dot-container">
          <span
            *ngFor="let dot of firstShoppingDiscountsData; let i = index"
            class="dot"
            [ngClass]="{ 'active-dot': selectedImageIndex === i }"
            (click)="selectImage(i)"
          ></span>
        </div>
      </div>
    </div>
  </section>

  <!-- flash deal section -->
  <section class="flash-deal">
    <h3 class="flash-deal-header">
      <span><i class="fa-solid fa-bolt"></i></span> Flash Deals
    </h3>

    <div class="flash-deal-products-container" #flashDealsCardContainer>
      <div class="card-container">
        <div
          class="card"
          *ngFor="let product of firstShoppingDiscountsData; let i = index"
        >
          <img
            [src]="product.imageSrc"
            [alt]=""
            class="card-image"
          />

          <div class="card-content">
            <div class="product-description">
              Lorem ipsum, dolor sit amet cons adipisicing elit. Suscipit
              dolorem in nostrum officia sapiente consequatur 
            </div>
            <div class="product-rating">
              <span class="rating">3.7 <i class="fa-solid fa-star"></i></span>
              <span class="people-ordered">(55067)</span>
            </div>
            <div class="product-price">
              <span class="discounted-price"
                ><i class="fa-solid fa-indian-rupee-sign"></i> 5799</span
              >
              <span class="actual-price"
                ><i class="fa-solid fa-indian-rupee-sign"></i> 7005</span
              >
              <span class="discount-percentage">17% off</span>
              <span class="add-to-cart" (click)="addToCart('productID', i)"><i class="fa-solid fa-cart-plus"></i></span>
            </div>
            <div class="alert-message" *ngIf="isAddToCartAlertMessageSuccess && i === addedItemIndex">
              {{addToCartAlertMessage}}
            </div>
          </div>
        </div>
      </div>

      <div class="left-arrow" (click)="onPrevFlashClick()">
        <i class="fa-solid fa-arrow-left arrow"></i>
      </div>
      <div class="right-arrow" (click)="onNextFlashClick()">
        <i class="fa-solid fa-arrow-right arrow"></i>
      </div>
    </div>
  </section>


  
</div>
