* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  width: 88%;
  margin-inline: auto;
  /* background: green; */
  margin-top: 2rem;
}

/* category section styling */
.category-sec {
  /* background: yellow; */
  padding: 2rem;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
}

.categories {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.category {
  font-size: 0.8em;
  opacity: 0.7;
}

.category:hover {
  opacity: 1;
}

.categories .category-link {
  text-decoration: none;
  color: black;
}

.categories .category-link i {
  margin: 0 1rem 0 0;
}

/* discount section styling */

.carousel-container {
  --carousel-container-height: 28rem;
  position: relative;
  height: var(--carousel-container-height);
}
.carousel-img {
  position: absolute;
  width: 100%;
  display: none;
}

.carousel-img > img {
  width: 100%;
  height: var(--carousel-container-height);
  object-fit: cover;
}

.image-active {
  display: block;
}

.dot-container {
  position: absolute;
  /* height: var(--carousel-container-height); */
  left: 0;
  right: 0;
  bottom: 1em;
  padding: 0;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  gap: 0.6em;
  --dot-radius: 0.7em;
}
.dot {
  width: var(--dot-radius);
  height: var(--dot-radius);
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}

/* 
.flash-deal {
  height: 40rem;
  background-color: green;
} */